@import url("https://store.bom.co.kr/data/skin/front/beready_C_11/css/gd_layout.css?ts=1584671325");
@import url("https://store.bom.co.kr/data/skin/front/beready_C_11/_msc/css/customize.css?191031v5");

:root {
    --primary: rgb(255, 69, 0);
    --height-topbar: 40px;
    --height-header: 120px;



    --font-text-prouduct: 17px;
    --font-text-prouduct-2: 16px;
    --font-text-prouduct-3: 15px;
    --font-text-primary: 14px;

}

* {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}


body {
    margin: 0px;
    font-size: 16px;
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    box-sizing: border-box;
    font-family: serif;
}

button {
    outline: none;
}

header {
    margin-top: 40px;
    padding-bottom: 30px;
    box-shadow: 0px 4px 3px #00000029;
    margin-bottom: 61px;
}

header .header-top {
    margin-bottom: 30px;
}

header .header-top .gd-tab-link {
    display: flex;
    justify-content: flex-end;
}

header .header-top .gd-tab-link li {
    float: left;
    list-style: none;
    padding: 5px 10px;
    position: relative;
}

header .header-top .gd-tab-link li a {
    font-weight: 500;
    text-decoration: none;
    color: #141414;
}

header .header-top .gd-tab-link li:not(:last-child):after {
    position: absolute;
    top: 0;
    right: -2px;
    content: '|';
    color: #D4D4D4;
    font-size: 15px;
    line-height: 1.5;
}

header .header-center {
    display: flex;
    justify-content: space-between;
}

.logo {
    display: flex;
    gap: 3rem;
    align-items: center;
}

.header-center {
    margin-bottom: 30px;
}

/* seach-header */
.search-wrapper {
    max-width: 340px;
    width: 100%;
}

.search-wrapper .input-holder {
    position: relative;
}

.search-wrapper .input-holder .search-input {
    width: 100%;
    background-color: #F0F0F0;
    border-radius: 27px;
    padding: 12px 35px;
    border: none;
    outline: unset;
    font-size: 16px;
    font-weight: 500;
}

.search-wrapper .input-holder .search-icon {
    position: absolute;
    right: 5%;
    border: none;
    background-color: unset;
    top: 24%;
}

.search-wrapper .input-holder .search-icon img {
    width: 20px;
    height: 20px;
}

/* seach-header */

.menu-toogle {
    background-color: #fff;
    padding: 5px 8px;
    border-radius: 30px;
    border: 2px solid #6995F5;
    display: flex;
    align-items: center;
}

.menu-toogle span:nth-child(1) {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: #6995F5;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 6px;
}

.menu-toogle span:nth-child(2) {
    margin-right: 5px;
}

.menu-toogle span {
    color: #6995F5;
    font-weight: 6000;
}

/* menu-top */
.top-menu ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-menu ul li {
    position: relative;
}

.top-menu ul li.active a {
    color: #FFA162;
}

.top-menu ul li a {
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    color: #141414;
}

.top-menu ul li:first-child {
    display: flex;
    align-items: center;
}

.top-menu ul li:first-child img {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}

.top-menu ul li:nth-child(4)::after,
.top-menu ul li:nth-child(7)::after,
.top-menu ul li:nth-child(8)::after {
    position: absolute;
    top: 0;
    content: '|';
    font-size: 17px;
    line-height: 0.7;
    margin-left: 15%;
    color: #D9D9D9;
}

.top-menu ul li:nth-child(7)::after,
.top-menu ul li:nth-child(8)::after {
    margin-left: 38%;
}

.top-menu ul li:nth-child(5)::after,
.top-menu ul li:nth-child(6)::after {
    position: absolute;
    top: -9px;
    right: -9px;
    content: '•';
    font-size: 20px;
    color: red;
}

/* menu-top */

/* menu-container */
nav.menu-container {
    margin-bottom: 55px;
}

.menu-container h1 {
    text-align: center;
    margin-bottom: 35px;
}

.menu-container .nav-mane-container {
    padding: 27px 138px;
    background-color: #F0F0F0;
    border-radius: 11px;
}

.menu-container .nav-mane-container ul {
    display: flex;
    justify-content: space-between;
}

.menu-container .nav-mane-container ul li a {
    text-decoration: none;
    color: #141414;
    font-size: 16px;
    font-weight: 600;
}

/* menu-container */

/* product-prioritize */
.product-prioritize {
    margin-bottom: 67px;
}

.product-prioritize .priority-group {
    display: flex;
    gap: 10px;
    margin-bottom: 48px;
}

.product-prioritize .priority-group>div {
    padding: 10px 30px;
    border-radius: 9px;
    background-color: #EDEDED;
    color: #27272799;
    font-weight: 600;
}

.priority-group>div.active {
    color: white;
    background-color: #6995F5;
}

/* product-prioritize */

.list-product.grid-product {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 31px
}

.product .product-image {
    position: relative;
}

.product .product-image img {
    width: 100%;
}

.sale {
    position: absolute;
    right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 21px;
    color: #fff;
    font-weight: 600;
}

.product .sale {
    background-image: none;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    bottom: 1vw;
    background-color: #fff;
}

.product .sale img {
    width: 20px;
    height: 20px;
}

.product .product-content {
    margin-top: 18px;
}

.product .product-content>p {
    font-weight: 600;
    color: #272727;
}

.product .product-content>p:not(:last-child){
    margin-bottom: 8.5px;
}

.product-price-content-cost {
    padding-top: 10px;
    padding-bottom: 10px;
    color: #989898;
}

.product-price-content-cost-2,
.product-category-top{
    display: none;
}


.product-price-content {
    display: flex;
    gap: 5px;
    padding-bottom: 10px;
}

.product-price-content .percent {
    font-weight: 700;
    color: red;
    font-size: 19px;
}

.product-price-content .product-price {
    font-size: 20px;
    font-weight: 600;
}

.reviews {
    display: flex;
    color: gray;
}

.reviews .star {
    margin-right: 5px;
}

.reviews .star img{
    width: 14px;
    height: 14px;
}

.p-numner {
    position: absolute;
    top: 0px;
    left: 12px;
    background-image: url(./image/구성\ 요소\ 6\ –\ 1.svg);
    width: 41px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
    font-weight: bold;
    background-repeat: no-repeat;
}

.btn.active {
    display: none;
}s

.filter-product {
    display: flex;
    gap: 15px;
}

/* checkbox */
.filter-checkbox {
    position: relative;
    padding-left: 30px;
    padding-top: 6px;
    cursor: pointer;
    font-size: 17px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.filter-checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 23px;
    width: 24px;
    background-color: #D6D6D6;
    border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.filter-checkbox:hover input~.checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.filter-checkbox input:checked~.checkmark {
    background-color: #6995F5;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.filter-checkbox input:checked~.checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.filter-checkbox .checkmark:after {
    display: block;
    left: 9px;
    top: 4px;
    width: 4px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.top-filter {
    padding-bottom: 28px;
    border-bottom: 1px solid #E5E5E5;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.list-toggle .btn {
    border: none;
    border-radius: 10px;
}

/* checkbox */
.main-product {
    overflow: hidden;
    margin-bottom: 48px;
}


.product-filter.row {
    margin-left: -15px;
    margin-right: -15px;
}

.product-filter .list-product.grid-product {
    gap: unset;
    margin-bottom: 48px;
}

.product-filter .list-product.grid-product>div {
    padding: 15px;
    border-bottom: 1px solid #E5E5E5;
    border-right: 1px solid #E5E5E5;
}

.product-filter .list-product.grid-product>div:nth-child(-n+5) {
    padding-top: 0;
    margin-top: 36px;
}

/* .product-filter .list-product.grid-product>div:nth-child(5n+1){
    padding-left: 0;
} */

.product-filter .list-product.grid-product>div:nth-child(5n+5) {
    border-right: none;
}

/* paginate */
.custom-pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.custom-pagination .page-item a {
    text-decoration: none; 
}

.custom-pagination .page-item{
    width: 31px;
    height: 31px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.custom-pagination .page-item.active{
    border-radius: 50%;
    background-color: #6995F5;
}

.custom-pagination .page-item.active a{
    color: #EDEDED;
}

.list-product.grid-product.one-column {
    grid-template-columns: repeat(1, 1fr);
}

.list-product.grid-product.one-column .product,
.list-product.grid-product.one-column .product .product-info{
    display: flex;
}

.list-product.grid-product.one-column .product{
    justify-content: space-between;
}

.list-product.grid-product.one-column .product .product-info{
    gap: 44px;
}

.list-product.grid-product.one-column .product .product-image{
    max-width: 181px;
    max-height: 211px;
}

.list-product.grid-product.one-column .product:first-child{
    padding: 38px 15px;
}

.list-product.grid-product.one-column .product:not(:first-child){
    padding: 38px 15px;
}

.main-product .list-product.grid-product.one-column .product{
    margin-top: 0;
}

.list-product.grid-product.one-column .product .reviews{
    width: 25%;
}

.list-product.grid-product.one-column .product .product-name,
.list-product.grid-product.one-column .product .product-price-content-cost{
    display: none;
}

.list-product.grid-product.one-column .product .product-category-top,
.list-product.grid-product.one-column .product .product-price-content-cost-2{
    display: block;
}

.list-product.grid-product.one-column .product .product-category-top{
    margin-bottom: 10px;
    color: gray;
}

.list-product.grid-product.one-column .product .product-content{
    margin: 25px 0;
}

.list-product.grid-product.one-column .product .product-category{
    margin-bottom: 40px;
}

.list-product.grid-product.one-column .product .reviews{
    justify-content: center;
    align-items: center;
    border-left: 1px solid #E5E5E5;
}

.product-price-content-cost-2{
    color: gray;
}



/* paginate */